@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;500&display=swap");

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.15s ease-out;
  gap: 0.5rem;
}

.logo:hover {
  transform: translateY(-1px);
  transition: transform 0.15s ease-out;
}

.logo h4 {
  width: auto;
  height: auto;
  text-align: left;
  color: #163666;
}

.icon {
  width: 43.71px;
  height: 55.52px;
  gap: 0;
}
